<div class="dialog-container">
  <div>
      <h1>Privacy Policy</h1>
      <p>Here is the content of privacy policy </p>
      <button (click)="onCloseClicked()">Done</button>

  </div>
  
</div>






<!-- <p>privacy-policy-popup works!</p>





<!-- Button to trigger the modal -->

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#privacyPolicyModal">

 View Privacy Policy

</button> -->


<!-- Privacy Policy Modal -->

<!-- <div class="modal" tabindex="-1" role="dialog" id="privacyPolicyModal">

  <div class="modal-dialog" role="document">

 <div class="modal-content">

 <div class="modal-header">

   <h5 class="modal-title">Privacy Policy</h5>

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">

    <span aria-hidden="true">&times;</span>

    </button>
    </div>
    <div class="modal-body"> -->

    <!-- Add your privacy policy content here -->

   <!-- <p>This is the privacy policy content.</p>
</div>

</div>

</div>

</div>

 -->



 -->
